name: Secure react CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  security-ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code 
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: install dependencies
        run: npm ci

      - name: Run eslint
        run: npm run lint

      - name: dependency audit
        run: npm audit --audit-level=high